/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2015 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */

.embeddedPageElement {
	width: 100%;
	height:100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.x-mask-inner {
	border-radius: 10px 10px 10px 10px;
}

.x-carousel-indicator-horizontal {
	height: 3em;

	&.x-carousel-indicator span {
		height: 30px;
		margin: 7.5px 5px;
		width: 30px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

		& p {
			width: 30px;
			padding: 4px 4px 4px 4.5px;
			display: block;
			color: white;
			text-align: center;
		}
	}
}

.x-list {
	.x-scroll-container {
		background: transparent;
	}
}

.listCorrectItem {
	padding: 0 0.25em 0 0.2em;
}

.x-list-item-correct {
	color: white !important;
	background: $thm-green;
	border-radius: 10px;
}

.answerListButton {
	&.x-item-selected .x-innerhtml .answerOptionItem {
		&.answerOptionCorrectItem:after {
			text-shadow: 0px 0px 1px $thm-grey;
		}
	}

	.x-innerhtml {
		display: table;
	
		.answerOptionItem {
			width: 2em;
			display: table-cell;
			vertical-align: middle;
		}
	
		.answerOptionText {
			width: 100%;
			display: table-cell;
			vertical-align: middle;

			p {
				position: relative;
				bottom: 2px;
				left: 10px;
			}
		}

		.answerOptionItem {
			line-height: 2.25em;

			&.answerOptionItem:before {
				font-family: "arsnova";
				content: "\f096";
				font-size: 1.2em;
			}
	
			&.answerOptionCorrectItem:after {
				font-family: "Pictos";
				content: "3";
				font-size: 2.25em;
				color: $thm-green;
				text-shadow: 0px 0px 1px white;
				margin: 0px 0px 0px -21px;
				opacity: .99;
			}
		}
	}
}

.thm-lettering {
	color: $thm-green;
	font-weight: bold;
}

.feedbackStatisticButton {
	min-height: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.feedbackOkBackground .iconBtn {
	background: $thm-green;
}

.feedbackGoodBackground .iconBtn {
	background: $thm-orange;
}

.feedbackBadBackground .iconBtn {
	background: $thm-red;
}

.feedbackNoneBackground .iconBtn {
	background: $thm-grey;
	color: #000;
}

.feedbackStatisticButton.voteButton.smallerMatrixButtons .iconBtn {
	width: 70px;
	height: 70px;

	.iconBtnImg {
		margin: 11px 0 0 10.5px;
	}
}

.x-container.x-form,
.forwardListButton.caption {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.x-msgbox {
	min-width: 310px;
}

.x-msgbox a, .x-msgbox a:visited {
	color: rgba(190,224,247,0.9);
}

.statisticsButton.x-item-disabled .x-button-label {
	opacity: 1;
}

.centerFormTitle .x-form-fieldset-title {
	text-align: center;
	margin-bottom: 10px;
}

.centerFormTitle.hiddenUrl .x-form-fieldset-title {
	margin-bottom: -9px;
}

.x-tabbar .x-tab .infoButtonBeforeLogin:before {
	color: #80ba24;
}

.myCoursesList .x-innerhtml{
	padding: 0 !important;
}

.myCoursesList .x-list-item {
	border: none !important;
}

.answerStatisticToolbar {
	.x-toolbar-inner {
		display: flex !important;

		.x-title {
			flex: 1;
		}
	}
}

.carouselNavigationElement {
	top: 0;
	bottom: 0;
	width: 0;
	height: 0;
	margin: auto;
	position: absolute;
	border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;

	&.arrow-right {
		right: 0;
		margin-right: 10px;
		border-left: 45px solid $thm-grey;

		&.x-button-pressing {
			border-left-color: $thm-lightgrey !important;
		}
	}

	&.arrow-left {
		left: 0;
		margin-left: 10px;
		border-right: 45px solid $thm-grey;

		&.x-button-pressing {
			border-right-color: $thm-lightgrey !important;
		}
	}
}

.qr-code {
	width:90%;
	height:90%;
	max-width: 700px !important;
	max-height: 90% !important;

	.x-msgbox-inner {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		img {
			margin: 10px;
		}
	}
}

.newQuestionWarning {
	list-style-type: disc;
	margin-left: 30px;
	text-align: left;

	li {
		list-style: initial;
	}
}

.dragStyle {
	width: 42px;
	height: 42px;
	line-height: 42px;
	margin: -12px 0 0 -15px;
	text-align: center;
	font-size: 1.3em;
	font-family: "arsnova";
	display: block;
	float: left;
}
.imgUploadBtn {
	border-radius: 0px;
}

.imageUploadButtonLabel {
	text-align:left;
	vertical-align:middle;
}

.selectable {
	.x-innerhtml {
		ms-user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;
	}
}

.matrixButton.roleIconBtn {
	background: transparent !important;
	padding: 0px 0px 40px 0px !important;
	width: 72px;

	.iconBtn {
		width: 72px;
		background: transparent !important;

		.iconBtnImg {
			font-size: 70px !important;
			margin: 5px 0px 0px 0px;

			&.icon-users {
				margin-top: 0px !important;
			}
		}
	}
}

.canvasConfiguration {
	display: block;
	margin: 0px auto;
}

.displayInherit {
	display: inherit;
}

.zoomButton {
	width: 44px;
	height: 33px;
	font-size: 16px;
	position: absolute;
	margin: 7px;
	bottom: 0;
	right: 0;

	&.zoomSheetActive {
		z-index: 999;
		font-size: 14px;

		.x-button-icon {
			margin-right: 1px;
		}
	}
}

.zoomActionSheet {
	padding: 0;
	border: 1px solid $background;

	.sliderField {
		padding-right: 2em;
		text-align: center;
	}
}

.customMaskTextElement {
	position: absolute;
	text-align: center;
	font-size: 28px;
	color: white;
	width: 100%;
	top: 80px;

 	&.voteClosed {
 		text-shadow: 1px 1px 5px $thm-red;
 	}
 
 	&.alreadyAnswered {
 		text-shadow: 1px 1px 5px $thm-green;
 	}
}

.largeImageWindow {
	max-width: 95% !important;
	max-height: 95% !important;
	min-height: 0% !important;
	min-width: 0% !important;
}
